<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.devtcg.five">

	<!-- We don't really require SDK version 3, but we do require Android 1.5
	   - for access to kxml2 2.3.0.
		- TODO: Should be fixed. -->
	<uses-sdk android:minSdkVersion="3" />

	<!-- Access PROPERTY_IMEI for unique device signature. 
	   - TODO: Generate my own unique id. -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<!-- Obviously... -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<!-- To efficiently manage retries. -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:icon="@drawable/music_icon"
		android:label="@string/app_name"
		android:taskAffinity="org.devtcg.five.task.music">

		<provider android:name=".provider.FiveProvider"
			android:authorities="org.devtcg.five" />

		<service android:name=".service.MetaService" />

		<service android:name=".music.service.PlaylistService" />

		<activity
			android:name=".activity.SourceList"
			android:icon="@drawable/icon"
			android:label="@string/sync_title"
			android:taskAffinity="org.devtcg.five.task.sync">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.SourceAdd"
			android:label="@string/source_add_title"
			android:taskAffinity="org.devtcg.five.task.sync"
			/>

		<activity
			android:name=".activity.SourceCheckSettings"
			android:label="@string/source_check_settings_title"
			android:taskAffinity="org.devtcg.five.task.sync"
			/>

		<activity
			android:name=".activity.SourceInfo"
			android:label="@string/source_info_title"
			android:taskAffinity="org.devtcg.five.task.sync"
			/>

		<activity
			android:name=".music.activity.Main"
			android:icon="@drawable/music_icon"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/music_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".music.activity.ArtistList" android:label="@string/artists_title" />

		<activity android:name=".music.activity.AlbumList" android:label="@string/albums_title" />

		<activity android:name=".music.activity.ArtistAlbumList" />

		<activity android:name=".music.activity.SongList" android:label="@string/tracks_title" />

		<!-- XXX: Rename to PlaylistList -->
		<activity android:name=".music.activity.PlaylistList" android:label="@string/playlists_title" />

		<activity
			android:name=".music.activity.Player"
			android:theme="@android:style/Theme.NoTitleBar"
			android:launchMode="singleTask"
			android:excludeFromRecents="true"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			/>

	</application>
</manifest> 
