<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devtcg.five">

    <!-- Access PROPERTY_IMEI for unique device signature. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Obviously... -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Why do we have to ask for permission to access our own services? -->
    <uses-permission android:name="org.devtcg.five.permission.FIVE_SERVICES" />

    <permission android:name="org.devtcg.five.permission.FIVE_SERVICES"
        android:label="@string/perm_label_fiveServices"
        android:description="@string/perm_desc_fiveServices" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">

       <provider android:name=".provider.FiveProvider"
         android:authorities="org.devtcg.five" />

        <activity android:name=".activity.SourceList" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <action android:name="android.intent.action.EDIT" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="vnc.android.cursor.dir/vnd.five.source" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SourceInfo" android:label="@string/source_info_title">
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="vnd.android.cursor.item/vnd.five.source" />
            </intent-filter>
        </activity>

        <service android:name=".service.MetaService" 
            android:exported="true"
            android:permission="org.devtcg.five.permission.FIVE_SERVICES" />

        <service android:name=".service.CacheService" 
            android:exported="true"
            android:permission="org.devtcg.five.permission.FIVE_SERVICES" />

   </application>
</manifest> 
