<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.devtcg.five">

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="5" />

	<!-- Access PROPERTY_IMEI for unique device signature. 
	   - TODO: Generate my own unique id. -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

	<!-- Obviously... -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<!-- To efficiently manage retries. -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Maintain the storage card cache. -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:debuggable="true"
		android:icon="@drawable/music_icon"
		android:label="@string/app_name">

		<provider android:name=".provider.FiveProvider"
			android:exported="false"
			android:authorities="org.devtcg.five" />

		<service android:name=".service.MetaService"
			android:exported="false" />

		<service android:name=".service.PlaylistService"
			android:exported="false" />

		<activity
			android:name=".activity.Settings"
			android:label="@string/settings_title"
			/>

		<activity
			android:name=".activity.SourceAdd"
			android:label="@string/source_add_title"
			/>

		<activity
			android:name=".activity.SourceCheckSettings"
			android:label="@string/source_check_settings_title"
			/>

		<activity
			android:name=".activity.Main"
			android:icon="@drawable/music_icon"
			android:theme="@android:style/Theme.NoTitleBar"
			android:label="@string/music_title">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.ArtistList" android:label="@string/artists_title" />

		<activity android:name=".activity.AlbumList" android:label="@string/albums_title" />

		<activity android:name=".activity.ArtistAlbumList" />

		<activity android:name=".activity.SongList" android:label="@string/tracks_title">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.five.music.playlists" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.PlaylistList" android:label="@string/playlists_title" />

		<activity-alias android:name=".activity.PlaylistListShortcut"
			android:targetActivity=".activity.PlaylistList"
			android:label="@string/playlists_shortcut_title"
			android:icon="@drawable/ic_launcher_shortcut_music_playlist">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".activity.Player"
			android:theme="@android:style/Theme.NoTitleBar"
			android:launchMode="singleTask"
			android:excludeFromRecents="true"
			android:screenOrientation="portrait"
			android:configChanges="orientation|keyboardHidden"
			/>

	</application>
</manifest> 
